<form action="/computers_create" method="POST">
    <h3>Serial Number:</h3><input type="text" name="serial-no">
    <h3>Model ID</h3><input type="text" name="model-id">
    <h3>Student ID</h3><input type="text" name="student-id">
    <input type="submit" value="Add">
</form>