<%if computer == nil%>
    <p>Eleven skaffa vingar och flög iväg</p>
    <a href="/">Tillbaka<a>
<%else%>
    <table>
        <thead>
            <th class="text">ID</th>
            <th class="text">Serial No</th>
            <th class="text">Student ID</th>
        </thead>
        <tbody>
            <tr>
                <td class="text"><%= computer[0] %></td>
                <td class="text"><%= computer[1] %></td>
                <td class="text"><%= computer[3] %></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Tillbaka</a>
<%end%>