<% %>

<h1>Search by student ID</h1>
<form action="/students/find_by_id" method="POST">
    <input class="search_field" type="text" name="student_id">
    <input type="submit" value="Search">
</form>

<h1>Search by student name</h1>
<form action="/students/find_by_name" method="POST">
    <input class="search_field" type="text" name="student_name">
    <input type="submit" value="Search">
</form>


<h1>Update student</h1>
<form action="/students/update" method="POST">
    <h3>Id:</h3><input class="search_field" type="text" name="student_id">
    <h3>New Name:</h3><input class="search_field" type="text" name="new_name">
    <h3>New Pnr</h3><input class="search_field" type="text" name="new_pnr">
    <input type="submit" value="Update">
</form>

<h1>Create new student</h1>
<form action="/students/create" method="POST">
    <h3>Name:</h3><input class="search_field" type="text" name="new_name">
    <h3>Pnr</h3><input class="search_field" type="text" name="new_pnr">
    <input type="submit" value="Create">
</form>

<h1>Delete student</h1>
<form action="/students/delete" method="POST">
    <input class="search_field" type="text" name="student_id">
    <input type="submit" value="Delete">
</form>