<% %>

<div class="students">

<h2><a href="/all_students">Show all students</a></h2>

<h2>Search by student ID</h2>
<form action="/students/find_by_id" method="POST">
    <input class="search_field" type="text" name="student_id">
    <input type="submit" value="Search">
</form>

<h2>Search by student name</h2>
<form action="/students/find_by_name" method="POST">
    <input class="search_field" type="text" placeholder="Name" name="student_name">
    <input type="submit" value="Search">
</form>

<h2>Update student</h2>
<form action="/students/update" method="POST">
    <p>Id:</p><input class="search_field" type="text" name="student_id">
    <p>New Name:</p><input class="search_field" type="text" name="new_name">
    <p>New Pnr</p><input class="search_field" type="text" name="new_pnr">
    <input type="submit" value="Update">
</form>

<h2>Create new student</h2>
<form action="/students/create" method="POST">
    <p>Name:</p><input class="search_field" type="text" name="new_name">
    <p>Pnr</p><input class="search_field" type="text" name="new_pnr">
    <input type="submit" value="Create">
</form>

<h2>Delete student</h2>
<form action="/students/delete" method="POST">
<p>Student id:</p>
    <input class="search_field" type="text" name="student_id">
    <input type="submit" value="Delete">
</form>

</div>

<div class="computers">

<h2><a href="/all_computers">Show all computers</a></h2>


<h2>Search by computer ID</h2>
<form action="/computers/find_by_id" method="POST">
    <input class="search_field" type="text" name="computer_id">
    <input type="submit" value="Search">
</form>

<h2>Search by computer brand</h2>
<form action="/computers/find_by_model" method="POST">
    <input class="search_field" type="text" name="computer_model">
    <input type="submit" value="Search">
</form>

<h2>Delete computer</h2>
<form action="/computers/delete" method="POST">
    <input class="search_field" type="text" name="computer_id">
    <input type="submit" value="Delete">
</form>

<h2>Update computer</h2>
<form action="/computers/update" method="POST">
    <p>Id:</p><input class="search_field" type="text" name="computer_id">
    <p>New Serial No:</p><input class="search_field" type="text" name="new_serial">
    <p>New model ID</p><input class="search_field" type="text" name="new_model_id">
    <p>New student ID</p><input class="search_field" type="text" name="new_student_id">
    <input type="submit" value="Update">
</form>

</div>

